body,
html,
.body {
  background: #ffffff !important;
}

.image {
  & > tbody > tr > th {
    padding-left: 0px !important;
    padding-right: 0px !important;
    & .tip-img {
      padding-bottom: 10px;
    }
  }
}
/*=================================
============= HEADER ==============
=================================*/

.header {
  h6 {
    font-size: 0.8rem;
    a {
      color: #0099ff;
      text-decoration: underline;
    }
  }
}

/*=================================
============= REVIEW ==============
=================================*/

.review {
  h3 {
    font-family: taviraj;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    font-family: taviraj;
    font-size: 18px;
    font-weight: 500;
    a {
      font-weight: 600;
      font-family: taviraj;
    }
  }
  .read-more {
    font-family: taviraj;
    color: #0066ff;
    font-size: 25px;
    font-weight: 600;
  }
}

/*=================================
============= TIP-OFF ==============
=================================*/

.tip-off {
  h3 {
    border-top: 3px solid #797979;
    padding-top: 30px;
    font-family: taviraj;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    font-family: taviraj;
    font-size: 18px;
    font-weight: 500;
  }
  span {
    display: block;
    font-weight: 600;
    font-family: taviraj;
    font-size: 18px;
    a {
      font-weight: 600;
      font-family: taviraj;
      font-size: 18px;
    }
  }
  img {
    padding-bottom: 30px;
  }
}

/*=================================
============= INVEST ==============
=================================*/

.invest {
  .spacer {
    &:first-child {
      border-top: 3px solid gray;
    }
  }

  p {
    font-family: taviraj;
    font-size: 18px;
    font-weight: 500;
  }
  a {
    color: #0066ff;
    text-decoration: underline;
  }
}

/*=================================
============= FOOTER ==============
=================================*/

.footer {
  background: black;
  background-color: black;
  a {
    font-size: 0.8rem;
    color: white;
    text-decoration: underline;
    line-height: 5px;
    &.unsubscribe {
      color: #0099ff;
      font-size: 0.7rem;
      text-decoration: none;
    }
    &.spam {
      color: #0099ff;
      font-size: 0.7rem;
      text-decoration: none;
    }
  }
  span {
    font-size: 11px;
    color: gray;
  }
}

/*=================================
============== END ================
=================================*/

.end {
  h6 {
    padding-top: 10px !important;
    font-size: 0.8rem;
    a {
      color: #0099ff;
      text-decoration: underline;
    }
  }
}
