<container>
  <row class="footer">
    <columns>
      <center>
        <spacer size="15"></spacer>
        <a href="#">TipRanks.com</a>
        <span>|</span>
        <a href="#">Terms of Use</a>
        <spacer size="15"></spacer>
        <a class="unsubscribe" href="#"
          >Want to stop receiving valuable Stock Market <br />
          insights from TipRanks? Unsubscribe here</a
        >
        <span>|</span>
        <a class="spam" href="#">Report spam</a>
      </center>
    </columns>
  </row>
</container>
<container>
  <row class="end">
    <columns>
      <h6 class="text-center">
        Sent with <a href="#">ActiveTrail</a> software
      </h6>
    </columns>
  </row>
</container>
